@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('swiper/swiper.min.css');

html {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

body {
  position: relative;
  line-height: 1.5;
  color: #424242;
  background-color: #212121;
}

* {
  transition: all 300ms ease-out;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}